.jumbotron{
  text-align: center;
  background-image: linear-gradient(to top , #0a4062, #0a6fa1);
}

.jumbotron h1{
  color: #ffffff;
}

.jumbotron h1 span{
  font-style: italic;
  
}

.next-btn{
  text-align: center;
  width: 100%;
  margin: 25px 0;
}

.next-btn button{
  width: 150px;
  font-weight: 600;
}